<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <meta charset="UTF-8"/>
    <title>index</title>
</head>
<body>

<div class="container">
    <h1>非同期処理の実装例</h1>
    <ul>
        <li>
            <a th:href="@{/polling}">polling</a>
        </li>
        <li>
            <a th:href="@{/comet}">comet</a>
        </li>
    </ul>

    <h1>同期処理の実装例</h1>
    <ul>
        <li>
            <a th:href="@{/batch}">batch</a>
        </li>
    </ul>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>
